
body{
    margin: 0px;
    padding: 0px;
     background-color: whitesmoke;
     width: 100%;
     
}
body>button{
    /* text-align: right; */
 position: fixed;
 right: 2rem;
 bottom: 2rem;
 border-radius: 18px;
 border: none;
 background-color: white;
 color: teal;
 font-weight: bold;
 font-size: 17px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 13px;
    cursor: pointer;
}
body>button:hover{
    color: white;
    background-color: teal;
}
body>button>img{
    width: 20px;
    padding-right: 6px;
    /* border-image: round; */
}

#nav{
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav>div:first-child{
    display: flex;
    width: 33%;
    /* border: 1px solid red; */
    margin-left: 80px;
    justify-content: space-around;
    align-items: center;
}
#nav>div:first-child>img{
    height: 60px;
    width:300px ;
    background-color: #00253c;
}
#nav>div:last-child{
    width: 35%;
    margin-right: 80px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav select, #nav button{
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: black;
}
#nav select:hover,#nav button:hover{
    color: rgb(19, 171, 171);
}
    
           /* searchbar styles */


             #div{
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/01/ORB_Storefront_6_imgB_1400x600_20211028.jpg?impolicy=fcrop&w=600&h=150&q=medium");
      width: 96%;
      background-size: cover;
      padding: 30px;
      padding-bottom: 80px;
      height: auto;
}
#div>div{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 0px;
    padding: 0px 15px;
    
}
#div>div>div:first-child{
    width: 100%;
    margin: auto;
    display: flex;
    
    padding: 15px 0px;
    height: 40px;
    justify-content: center;
    border-bottom: 1px solid gray;
}
#div>div>div:first-child>button{
    margin: 10px;
    border: none;
    background-color: white;
    font-size: 18px;
    font-weight:lighter;
    cursor: pointer;
}
#div>div>div:first-child>button:hover{
    color:  rgb(19, 171, 171);
    text-decoration: underline;
}

#div>div>div:last-child{
    width: 100%;
    /* margin: auto; */
    margin-top: 25px;
    /* text-align: center; */
   
}     
#div>div>div:last-child>form{
    display: grid;
    justify-content: center;
    grid-template-columns: 35% 13% 13% 25%;
    grid-template-rows: 50px;
    gap: 20px;
}
#div>div>div:last-child>input{
margin-top: 15px;
margin-left: 80px;
height: 20px;
width: 20px;
}
#div>div>div:last-child>label{
/* text-align: left; */

}
#div>div>div:last-child>button{
margin: 30px 45%;
/* width: 150px; */
/* height: 40px; */
padding: 15px 60px;
font-size: 18px;
color: white;
background-color:#e91e62;
cursor: pointer;
border-radius: 5px;
border: none;
}
#div>div>div:last-child>button:hover{
background-color:#de3970;
color: whitesmoke;

}
input{
/* word-spacing: 10px; */
letter-spacing: 3px;
padding-left: 15px;
}
     /* <!-- flex travels 3 cards --> */
     #flex-3{
      width: 85%;
      margin: auto;
      display: flex;
      margin-top: 140px;
  }
  #flex-3>div{
    width: 30%;
    height: 160px;
    
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  }
  #flex-3>div>a>img{
      width: 100%;
      height: 100%;
      /* padding: 20px; */
     filter: drop-shadow(0px 10px 4px gray);
  }
  /* <!-- Featured 4 cards -->         */
 
#featured{
       width: 85%;
       margin: auto;
       margin-top: 40px;
       padding-left: 15px;
      
  }
  #featured>div{
      /* width: 100%; */
      display: flex;
    
      line-height: 10px;
      /* column-gap: 20px; */
     
  }
  #featured>div>div{
      width: 22%;
      margin: auto;
      /* border: 1px solid red; */
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding-left: 15px;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
      -webkit-text-stroke: 0.2px black;
                
  }
  #featured>div>div>h3{
      margin-bottom: 0px;
      padding-bottom: 0px;
      font-size: 23px;
  }
  #featured>div>div:nth-child(1){
     background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_LastMinute_imgB_900x600_20211101.jpg?impolicy=fcrop&w=600&h=400&q=medium");
      background-size: cover;
      
  }
  #featured>div>div:nth-child(2){
      background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_AllInclusive_imgB_900x600_20211101.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
      background-size: cover;
      
  }
  #featured>div>div:nth-child(3){
      background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_MOD_imgB_900x600_20211101.jpg?impolicy=fcrop&w=600&h=400&q=medium");
      background-size: cover;
  }
  #featured>div>div:nth-child(4){
      background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/02/ORB_Storefront_JetAndReset_imgB_900x600_20211101.jpg?impolicy=fcrop&w=600&h=400&q=medium");
      background-size: cover;
  }
  #featured>h1{
      padding-left: 15px;
      margin-bottom: 2px;
  }
                
                
           /* Help for travelers */
                
  #help{
      width: 85%;
      margin: auto;
      padding-left: 15px;
      margin-top: 80px;
  }
  #help>div{
      display: flex;
                
  }
  #help>div>div{
      width: 30%;
      margin: auto;
      /* border: 1px solid red; */
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
      padding: 0px 15px;
      
  }
  #help>div>div>div{
      display: flex;
      justify-content: space-between;
      
  }
  #help>div>div>div>img{
      width: 20px;
  }
  #help>div>div>p{
   margin-top: 0px;
  }


              /* tips for travelers */
    
              #tips{
                width: 85%;
                margin: auto;
                margin-top: 50px;
            }
            #tips>div{
                display: grid;
               grid-template-columns: repeat(2,1fr);
               gap: 20px;
            }
            #tips>div>div{
              /* border: 1px solid red; */
              padding: 52px 0px 60px 35px;
            
              color: white;
              /* letter-spacing: 3px; */
              font-size: 19px;
              text-shadow: gray;
              filter: grayscale(60%);
              
            }
            #tips>div>div>button{
                padding: 12px 25px;
                color: teal;
                background-color: white;
                border: none;
                font-size: 17px;
                font-weight: bold;
              
            }
            #tips>div>div:nth-child(1){
               
                  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/18/ORB_Blog_NationalParks_imgB_1199x399_20211117.jpg");
                filter: brightness(1.1);
    
                color: white;
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-position: center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                 background-size: cover;
               
            }
            #tips>div>div:nth-child(2){
               
                   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/18/ORB_Blog_RoadTrips_imgB_1199x399_20211117.jpg");
                filter: brightness(1.2);
    
                color: white;
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-position: center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                 background-size: cover;
            }
            #tips>div>div>h2,#tips>div>div>p{
                filter: brightness(100%);
            }

                              /* Get an app */

    #app{
        width: 85%;
        margin: auto;
        margin-top: 40px;
        display: flex;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    }
    #app>div:first-child{
        width: 40%;
    }
    #app>div:first-child>img{
        width: 100%;
        height: 100%;
    
    }
    #app>div:last-child>div:first-child{
        display: flex;
        /* padding: 15px; */
       

    }
    #app>div:last-child>div:first-child img{
        width: 180px;
        padding-top: 30px;
    
    }
    #app>div:last-child>div:first-child>div:last-child{
        margin-right: 10px;
    }
    #app>div:last-child>div:first-child h1{
        width: 88%;
        padding-left: 20px;
    }
    #app>div:last-child>div:first-child h4{
        margin-top: 0px;
        text-align: center;
    }
    #app>div:last-child>div:first-child ul{
        color: gray;
        line-height: 35px;
    }
    #app>div:last-child>div:last-child{
        padding-left: 20px;
        margin-top: 0px;
        padding-top: 0px;
    }
    #app>div:last-child>div:last-child>input,#app>div:last-child>div:last-child>select{
        height: 50px;
        padding-left: 20px;
        font-size: 17px;
        width: 150px;
        border: 1px solid gray;
    }
    #app>div:last-child>div:last-child>select+input{
        margin-left: 10px;
    }
    #app>div:last-child>div:last-child>button{
        
        padding: 18px 45px;
        margin-left: 15px;
        font-size: 18px;
        color: white;
        background-color:#e91e62;
        cursor: pointer;
        border-radius: 5px;
        border: none;

    }
    #app>div:last-child>div:last-child>button:hover{
       background-color: #be2457;

    }
    #app>div:last-child>div:last-child{
        width: 68%;
    }
    #app>div:last-child>div:last-child>p{
        color: gray;
        font-size: 14px;
    }



                    /* groups */

      #group{
        display: flex;
        width: 85%;
        margin: auto;
        height: 400px;
        margin-top: 60px;
        margin-bottom: 20px;
       
      }
      #group>div{
        width: 18%;
        height: 100%;
        margin: auto;
        /* border: 1px solid red; */
      }
      #group>div>h4{
        margin-top: 0px;
      }
      #group>div>p{
        font-size: 14.5px;
        font-weight: lighter;
        color: teal;
        text-shadow:0 0 3px black 0 0 5px black;
        
      }
      #group>div>p:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    

      
                        /* trips middle content  */
        #trips{
            width: 40%;
            margin: auto;
            height: 600px;
            /* border: 1px solid red; */

        }
        #trips>div>div{
            width: 80%;
            margin: auto;
            /* text-align: center; */
            /* border: 1px solid red; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        #trips>div>div>img{
            width: 180px;
        }
        #trips>div>div>button{
            width: 100%;
            margin-top: 40px;
            padding: 10px 0px 10px 0px;
            background-color: #e91e62;
            border: none;
            color: white;
            font-size: 17px;
            /* font-weight: bold; */
        }
        #trips>div>div>button:hover{
            background-color: #be2457;
            cursor: pointer;
        }
        #trips>div>div>div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid black;
            width: 95%;
            padding: 0px 10px 0px 10px;
            cursor: pointer;
            margin-top: 20px;
        }
        #trips>div>div>div>div>p{
            margin-top: 0px
        }
        #trips>div>div>div>div>h3{
            margin-bottom: 3px;
            margin-top: 5px;
        }
    
        /* sign in page css  */
      
        #sign-nav{
            width: 100% ;
            height: 50px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            display: flex;
            background-color: white;
            
        }
        #sign-nav>img{
            width: 150px;
        }
        #sign-nav>img:last-child{
            margin-left: 40%;
        }

                         /* sign in card  */

        #sign-in{
            width: 24%;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        #sign-in>input{
            padding: 10px 0px 10px 10px;
        }
        #sign-in>input+p{
            font-size: 14px;
            color: gray;
        }
        #sign-in>button{
            padding: 10px 0px 10px 0px;
            font-size: 17px;
            color: white;
            border: none;
            background-color:#e91e62 ;
        }
        #sign-in>button:hover{
            background-color: #ae0940;
            cursor: pointer;
        }
        #sign-in>div{
            text-align: center;
            width: 80%;
            margin: auto;
            /* border: 1px solid red; */
        }

        #sign-in a{
            color: teal;
            text-decoration: none;
        }
        #sign-in a:hover{
            text-decoration: underline;
        }        